/* IMPORTATION DU FONT */

@font-face {
  font-family: "RoseMartin";
  src: url("rosemartin/Rosemartin.otf");
}

/* COULEUR DE LA CLASSE */

.ma-classe {
  color: white;
}

.ma-classe2 {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}

/* STYLE DU PARAGRAPHE */

p {
  font-family: "RoseMartin", sans-serif;
  font-size: 2em;
  font-style: italic;
  color: white;
}

/* STYLE DU PARAGRAPHE ET DE L'IMAGE */

p > img {
  width: 30%;
  height: auto;
}

img {
  width: 50%;
  height: auto;
}

/* STYLE DU TITRE */

h1 {
  font-family: "RoseMartin", sans-serif;
  font-size: 3em;
  text-align: center;
  color: white;
  padding: 30px;
  background: linear-gradient(to right, #000000, #434343);
  text-shadow: 3px 3px 0px black;
}

h2 {
  font-size: 2.5em;
  font-family: "RoseMartin";
  color: blueviolet;
}

body {
  background: linear-gradient(to right, #020024, #420707, #b51b00);
}

.carre {
  width: 200px;
  height: 200px;
  border: 2px solid #36696d;
  border-radius: 20px;
  box-shadow: 6px 6px 15px rgb(29, 49, 63);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  font-family: Arial, sans-serif;
}

img:hover {
  opacity: 0.5;
}

a:active {
  text-decoration-color: #1d313f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

a:focus {
  background-color: #1d313f;
  color: white;
  outline-color: deeppink;
}

img:hover + h2 {
  color: deeppink;
}

.lien > a {
  font-family: "RoseMartin", sans-serif;
  font-size: 2em;
  font-style: italic;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

nav > a {
  font-family: "RoseMartin", sans-serif;
  font-size: 2em;
  font-style: italic;
  color: white;
  text-decoration: none;
  margin-right: 520px;
}
